DATABASE_URL="postgresql://neondb_owner:"

BETTER_AUTH_SECRET="asçdksadk"
BETTER_AUTH_URL="http://localhost:3333" 

GOOGLE_CLIENT_ID="adsdsadasdsadsa.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="asdasdasdasd"
